---
layout: page
img: otevrenost/cena-otevreno.jpg
title: Otevřenost
description: Transparence či otevřenost je jedním ze základních nástrojů České pirátské strany. Pronikají do většiny pirátských aktivit.
keywords: otevřenost, transparecne, Piráti, Pirátská strana, opendata, registr lobistických kontaktů, registr smluv, přehledy, majetková přiznání
---

<h4>Náš cíl je veřejná správa, která bude stejně otevřená jako Pirátská strana. Přesvědčte se sami, že to myslíme vážně.</h4>
            
<div class="row o-section-block o-section-block--fill">
   {% for topic in site.data.transparence %}
	{% include otevrenost/accordeon-column.html param='topic' %}
   {% endfor %}
</div>


<h2 class="o-section__heading o-section__heading--small" id="uspechy">Naše úspěchy v oblasti otevřenosti</h2>

<div itemprop="description" class="c-BasicPage-content o-section-block">
	{% assign team = site.data.transp-uspechy %}
	{% include otevrenost/list-2col.html param=team %}
</div>
